import(GlobalAncova)
import(MASS)
import(corpcor)
import(globaltest)
import(limma)
importFrom("stats", "fisher.test", "ks.test", "pchisq", "pnorm", "pt",
             "qnorm", "wilcox.test")
export("miR.test","generate.A","gs.test")
